<footer>
<div class="column right has-background-black">
    <div class="sharemch">
    <img src="https://res.cloudinary.com/manfredcostahomes/image/upload/v1574247209/mch-folgen.svg"/>
<a href="https://www.instagram.com/manfred_costahomes/" title="Follow ManfredCostaHomes on Instagram">
<img class="share-icon" src="https://res.cloudinary.com/manfredcostahomes/image/upload/instagram-36.svg">
</a><br>
<a href="https://www.facebook.com/manfredohlcostahomes" title="Follow ManfredCostaHomes on Facebook" target="_blank">
    <img class="share-icon" src="https://res.cloudinary.com/manfredcostahomes/image/upload/facebook-36.svg">
</a>
</div>
    <p class="navbar-item has-text-white is-uppercase"><a href="/politik/cookies/">cookies</a> </p>
    <p class="navbar-item has-text-white is-uppercase"><a href="/politik/privacy/">Privacy</a> </p>
</div>
</footer>
