<div class="columns is-mobile is-marginless">
        <div class="column left" title="Manfred Costa Homes">
            <a href="/"><figure class="navbar-item image">
                <img src="/img/logotext.svg" style="max-height: 6rem; width:5rem" alt="manfred costa homes"/>
            </figure></a>
            <p class="navbar-item has-text-black is-uppercase ">Resale Homes </p>
            <p class="navbar-item has-text-black is-uppercase">New Homes </p>
            <p class="navbar-item has-text-black is-uppercase">Contact </p>
        </div>


</div>